# Variables de entorno
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Node.js
node_modules/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
